@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-color: #86EEAC;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

h1 {
  color: #333;
  font-size: 2rem;
}

form {
  margin-top: 2rem;
}

.input {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  background-color: #008080;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #21c45d;
}

footer {
  position: fixed; /* Add this property to fix the footer */
  bottom: 0; /* Position the footer at the bottom of the window */
  left: 0; /* Align the footer to the left */
  right: 0; /* Align the footer to the right */
  background-color: #38a169; /* Set the background color */
  padding: 1rem; /* Add some padding */
  font-size: 1rem;
  color: #333;
  text-align: left;
  width: 100%; /* Ensure the footer takes the full width of the viewport */
}

/* ... Other styles ... */

tr:nth-child(even) {
  background-color: #6fe7b7; /* Light gray color for even rows */
}

tr:nth-child(odd) {
  background-color: #4ad399; /* Lighter gray color for odd rows */
}

thead tr,
tfoot tr {
  background-color: #48bb78; /* Green color for header and footer rows */
  color: rgb(3, 0, 0); /* White text color for header and footer rows */
}

.flex.flex-col.sm\:col-span-1 {
  background-color: #a8f4cf;
}
